.prin{
   
    background-color: rgb(244, 218, 246);
}
.Sandals{
    text-align: center;
    margin-top: 10px;
    background-color: rgb(218, 242, 247);
}

.sandalia-img{
    border-radius: 5px;
}

.boton1{
    background-color: rgb(207, 118, 118);
}

.boton2{
    background-color:rgb(109, 192, 248) ;
}